section {
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
}
header {
    text-align: center;
}
h1 {
    text-align: center;
}
nav {
    margin: 10px auto;
    text-align: center;
    display: block; 
    max-width: 80%;
}
section img {
    max-width: 200px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}
section h2 {
    color: #6200ea;
    margin: 10px 0;
}
section p:first-of-type {
    font-weight: bold;
    font-style: italic;
}
div {
    font-size: 1.5em;
    margin: 15px 0;
}

.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
