header {
    text-align: center;
}
h1 {
    text-align: center;
}
nav {
    margin: 10px auto;
    text-align: center;
    display: block;      
    max-width: 80%;
}
section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
section img {
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    display: block;
}
section h2 {
    color: black;
    border-bottom: 2px solid blue;
    padding-bottom: 10px;
    margin-top: 15px;
}
section h3 {
    color: blue;
    margin-top: 15px;
    margin-bottom: 5px;
}

