header {
    text-align: center;
}
h1 {
    text-align: center;
}
nav {
    margin: 10px auto;
    text-align: center;
    display: block;     
    max-width: 80%;
}
section {
    margin-bottom: 30px;
    text-align: center;
}
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
textarea {
    height: 150px;
    resize: vertical;
}
input[type="submit"],
input[type="reset"] {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="reset"] {
    background-color: black;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #3700b3;
}
.required::after{
    content: "*";
    color: red;
}
table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid;
}
